@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "EditAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Admin Bilgileri Güncelleme Sayfası</h2>
@using (Html.BeginForm("EditAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminId, new { @class = "form-control" })
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.TextAreaFor(x => x.Password, new { @class = "form-control" })
        <br />
        @Html.Label("Yetki")
        @Html.TextAreaFor(x => x.AdminRole, new { @class = "form-control" })
        <br />
        <button class="btn btn-success">Değişiklikleri Kaydet</button>
    </div>
}

